fastapi>=0.115
uvicorn[standard]>=0.32

typer>=0.12

pydantic>=2.9
pydantic-settings>=2.5
email-validator>=2.2

SQLAlchemy>=2.0
alembic>=1.13
psycopg2-binary>=2.9

celery>=5.4
redis>=5.0

requests>=2.32
openpyxl>=3.1
truststore>=0.9

python-dotenv>=1.0

pytest>=8.3
black>=24.8
ruff>=0.6
